.container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#box1 {
    background-color: #ff0000;
    height: 80px;
    width: 40%;
}

#box2 {
    background-color: #ffa600;
    height: 80px;
    width: 59%;
}

#boxS {
    height: 370px;
    width: 100%;
    background-color: #58db00;
    margin-top: 15px;
    margin-bottom: 15px;
}

#box3 {
    background-color: #836a17;
    height: 150px;
    width: 32.5%;
}

#box4 {
    background-color: #1100ff;
    height: 150px;
    width: 32.5%;
}

#box5 {
    background-color: #a1008c;
    height: 150px;
    width: 32.5%;
}

@media (max-width: 376px) {
    .container {
        height: 667px;
    }

    #box1 {
        width: 100%;
        height: 400px;
        order: 1;
    }

    #box5 {
        width: 100%;
        height: 120px;
        margin-top: 15px;
        margin-bottom: 12px;
    }

    #box2 {
        display: none;
    }

    #box3 {
        display: none;
    }

    #box4 {
        display: none;
    }

    #boxS {
        margin-top: 0;
        order: -1;
        height: 120px;
    }
}

@media (width: 768px) {
    .container {
        height: 1024px;
    }

    #box1 {
        order: -4;
        width: 100%;
        height: 700px;
    }

    #box5 {
        width: 40%;
        height: 100px;
        order: -5;
        margin-bottom: 25px;
    }

    #box2 {
        width: 58%;
        height: 100px;
        order: -6;
        margin-bottom: 25px;
    }

    #box3 {
        display: none;
    }

    #box4 {
        width: 49%;
        height: 200px;
        order: -2;
        margin-top: 15px;
    }

    #boxS {
        width: 49%;
        height: 200px;
        order: -3;
    }
}