.container {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(95, 107, 110);
}

#box1 {
    background-color: #046868;
    height: 100%;
    width: 45%;
}

#box2 {
    background-color: #046868;
    height: 100%;
    width: 45%;
}

.container2 {
    border: 1px solid black;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    align-items: center;
}

.boxes {
    background-color: #046868;
    height: 60%;
    width: 50px;
}

.container3 {
    border: 1px solid black;
    display: flex;
    height: 400px;
    width: 100%;
    background-color: white;
}
.boxes2 {
    margin-top: 10px;
    background-color: #046868;
    height: 30px;
    width: 250px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;    
    border: 1px solid black;
    align-items: center;
}
.column {
    flex-direction: column;
    border: 1px solid black;
}

.boxes3 {
    background-color: #046868;
    height: 100px;
    width: 200px;
    margin: 5px;
}
footer {
    background-color: #046868;
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

