#Kray {
    border: solid 10px black;
    position: fixed;
    width: 60%;
    height: 98%;
    left: 20%;
    top: 0%;
    /* Цвет фона */
}

#square2 {
    position: fixed;
    width: 400px;
    height: 400px;
    left:20%;
    top: 1%;
    background: #ff0000;
    /* Цвет фона */
}

#square1 {
    position: fixed;
    width: 400px;
    height: 400px;
    left: 35%;
    top: 20%;
    background: #04bb1c;
    /* Цвет фона */
}
#square3 {
    position: fixed;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 40%;
    background: #2f00ff;
    /* Цвет фона */
}