header {
    background-color: rgba(0, 255, 64, 0.541);
    width: 100%;
    height: 10%;
    border-radius: 0px 0px 0px 0px;
    position: fixed;
}

.ph1 {
    position: absolute;
    width: 10%;
    height: 100%;
}

.ph2 {
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
}

.ph1 img,
.ph2 img {
    height: 80%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

header:hover {
    opacity: 0.5;
    background: black;
}
#space
{
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #ad9e1600;
}

#body1 {
    display: inline-block;
    width: 35%;
    margin-left: 15%;
    background: #1618ad77;
}

#body2 {
    display: inline-block;
    width: 35%;
    background: #05ff11;
}

footer {
    background: #00f1d12a;
    width: 100%;
    height: 15%;
    border-radius: 0px 0px 0px 0px;
    margin-top: 50px;
}

footer:hover {
    opacity: 0.5;
    background: rgb(0, 255, 242);
}