   #P1 {
       position: absolute;
       right: 0;
       top: 20px;
       width: 225px;
       padding: 5px;
       background: #f0f0f0;
   }

   #P2 {
       position: absolute;
       right: 0;
       top: 100px;
       width: 225px;
       padding: 10px;
       background: #09b812;
   }